body {
	text-align:center;
	font-family: "Playfair Display", Times;
	color: black;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
	color: #aaa;
	font-family: "Lato";
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 800;	
}

.smallcaps {
	font-family: "Lato";
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 800;		
}